/* abeezee-regular - latin */
@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abeezee-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/abeezee-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/abeezee-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/abeezee-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/abeezee-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/abeezee-v14-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
}